:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

h1,
h2 {
  text-align: center;
}

main,
footer {
  max-width: 500px;
  margin: 20px auto 20px auto;
}

.logo {
  line-height: 60px;
  max-width: 500px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
  margin: auto;
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);

}


.config-game {
  max-width: 90%;
  margin: auto;
}

.config-game form {
  margin: auto;
  text-align: center;
}

.operationSelector,
.levelSelector {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 10px auto 10px auto;
  border-bottom: solid;
}

.maxNumber {
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 10px auto 10px auto;
}

input[type=number] {
  font-size: 1.5em;
  text-align: center;
  border-radius: 10px;
  width: 100%;
}

input[type=text] {
  display: block;
  width: 100%;
  font-size: 2em;
  text-align: center;
  border-radius: 10px;
}

label {
  margin: 10px;
  display: block;
  font-size: 1.5em;
  font-weight: bold;

}


.operationImage {
  border-radius: 5px;
  max-width: 60px;
  height: auto;
  box-shadow: 0 0 3px .5px #610111;
}


/* HIDE RADIO */
.operationRadio,
.answerRadio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}


.submitBtn {
  cursor: pointer;
  background-image: linear-gradient(to right, #D90429, #EF233C);
  color: white;
  font-size: 2em;
  border-style: none;
  border-radius: 30px;
  padding: 10px 20px;
  margin: auto;
}


/* IMAGE STYLES */
.operationRadio~.operationImage,
.operationRadio~.operationImage.checked {
  cursor: pointer;
  transition: opacity .5s ease-in-out;
}

/* CHECKED STYLES */
.operationRadio:checked~.operationImage {
  opacity: 0;
}

.operationRadio:checked~.operationImage.checked {
  opacity: 1;
  animation: reveal 1s;
}

.operationRadio:checked+.operationImage.checked,
.operationRadio:not(:checked)~.operationImage {
  display: block;
}

.operationRadio:not(:checked)+.operationImage.checked,
.operationRadio:checked~.operationImage {
  display: none;
}


.alert {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.closeAlert {
  cursor: pointer;
  padding: 10px;
}

.closeAlert:hover {
  background-color: red;
  color: white;
}

.questionForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.questionForm div,
.question {
  width: 70%;
}

.answerLabel,
.question {
  border-style: solid;
  border-radius: 5px;
  text-align: center;

  margin: 10px auto 10px auto;
  padding: 20px;
}

.answerLabel:hover {
  background-color: #e01a3b;
  color: white;
}





/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  transform-origin: 0% 150%;
  animation: l20-0 2s infinite linear;
}

.loader:before,
.loader:after {
  content: "";
  flex: 1;
  background: #f03355;
  animation: l20-1 1s infinite linear alternate;
  border-radius: 100px 0 0 100px;
  transform-origin: 100% 100%;
}

.loader:after {
  border-radius: 0 100px 100px 0;
  transform-origin: 0% 100%;
  --s: -1;
}

@keyframes l20-0 {

  0%,
  10% {
    transform: translateY(0) scaleY(1)
  }

  49.99% {
    transform: translateY(-100%) scaleY(1)
  }

  50% {
    transform: translateY(-100%) scaleY(-1)
  }

  90%,
  100% {
    transform: translateY(-200%) scaleY(-1)
  }
}

@keyframes l20-1 {

  0%,
  20% {
    transform: rotate(0deg) translate(0, 0) rotate(0deg)
  }

  50% {
    transform: rotate(calc(var(--s, 1)*-90deg)) translate(0, 0) rotate(0deg)
  }

  100% {
    transform: rotate(calc(var(--s, 1)*-90deg)) translate(0, -20px) rotate(calc(var(--s, 1)*-90deg))
  }
}



@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}